
[v-cloak] {
  display: none;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body, ol, ul, li, h1{
  margin: 0;
  padding: 0;
}
body {
  background-color: #eee;
  color: #5e5e5e;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.article a {
  color: #3194d0;
}
.article ul,.article ol {
  padding-left: 20px;
}
.article li {
  list-style: initial;
}


h1 {
  display: -webkit-flex;
  display: flex;
  color: #2b2b2b;
  font-size: 24px;
}


.logo {
  margin-right: 10px;
  height: 60px;
}

.header {
  height: 60px;
  line-height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding-left: 24px;
  border-bottom: 1px solid #E8E8E8;
  z-index: 1000;
  background-color: rgba(255,255,255,.9);
  border-bottom: 1px solid #E8E8E8;
}

.sidebar {
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  z-index: 3;
  margin-bottom: -9999px;
  padding-bottom: 9999px;
  width: 232px;
  background-color: #fff;
  border-right: 1px solid #f2f2f2;
}
.main {
  margin-left: 233px;
  padding-top: 60px;
}
.nav {
  background-color: #fff;
}
.nav__item {
  width: 232px;
  height: 38px;
  line-height: 38px;
  padding-left: 24px;
}
.nav__item:hover, .nav__item--current {
  color: #fff;
  background-color: #4FC08D;
}
.nav__item a{
  display: block;
}
.type-name {
  margin: 0 0 10px;
  color: #2b2b2b;
}
.content__detail {
  padding: 10px 30px 0;
}
.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 30%;
  margin-bottom: 20px;
  margin-right: 5%;
  padding: 8px;
  background-color: #fff;
  border: 1px solid #eee;
  transition: all .3s ease 0s;
}

.card:hover {
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.2);
  box-shadow: 0 2px 4px rgba(0,0,0,.2);
  border-color: #4FC08D;
}

.card:nth-child(3n + 3) {
  margin-right: 0;
}

.card>a{
  display: block;
}

.wechat{
  width: 200px;
}
.toggle-btn {
  display: none;
}
@media (max-width: 768px) {
  .toggle-btn {
    display: block;
    padding: 10px;
    position: absolute;
    right: 17px;
    top: 12px;
    width: 40px;
    background-color: #f9f9f9;
  }
  .icon-bar {
    display: block;
    height: 2px;
    background-color: #4FC08D;
    border-radius: 1px;
  }
  .icon-bar+.icon-bar{
    margin-top: 4px;
  }

  .sidebar {
    display: none;
  }

  .sidebar.show{
    position: static;
    width: 100%;
    border-right: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .nav__item {
    width: 100%;
  }
  .content__detail {
    padding: 10px 0 0 0;

  }
  .main {
    margin-left: 0;
  }
  .type-name{
    padding-left: 24px;

  }
  .card{
    width: 100%;
    margin-right: 0;
    margin-bottom: 0;
    padding-left: 24px;
    border: 1px solid #f2f2f2;
  }


  .card:last-child{
    margin-bottom: 10px;
  }
  
  .collapse {
    display: none;
    position: static;
    width: 100%;
    border-right: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .collapse.in {
    display: block;

  }
  

  .collapsing {
    height: 0;
    overflow: hidden;
    transition: height .377s ease;
  }

}

